body
	{
		background:url(../images/body.gif) repeat-x;
		font-family:Verdana, Arial, Geneva, sans-serif;
		font-size:12px;
		color:#102933;
		text-decoration:none;
		font-weight:normal;
		margin:0;
		padding:0;
	}
.body_account
	{
		background:url(../images/body_account.gif) repeat-x;
		font-family:Verdana, Arial, Geneva, sans-serif;
		font-size:12px;
		color:#102933;
		text-decoration:none;
		font-weight:normal;
		margin:0;
		padding:0;
	}
img
	{
		border:0 none;
	}
.clear
	{
		clear:both;
	}
.clear_10
	{
		clear:both;
		height:10px;
	}
.clear_30
	{
		clear:both;
		height:30px;
	}
.clear_40
	{
		clear:both;
		height:40px;
	}
.clear_75
	{
		height:75px;
		clear:both;
	}
.clear_95
	{
		height:95px;
		clear:both;
	}
.width4percent
	{
		width:4%;
	}
.width15percent
	{
		width:15%;
	}
.width36percent
	{
		width:36%;
	}
.width44percent
	{
		width:44%;
	}
.width30percent
	{
		width:30%;
	}
.width34percent
	{
		width:34%;
	}
.width38percent
	{
		width:38%;
	}
.width39percent
	{
		width:39%;
	}
.width41percent
	{
		width:41%;
	}
.width45percent
	{
		width:45%;
	}
.width55percent
	{
		width:55%;
	}
.width59percent
	{
		width:59%;
	}
.width30
	{
		width:30px;
	}
.width61percent
	{
		width:61%;
	}
.width62percent
	{
		width:62%;
	}
.width100percent
	{
		width:100%;
	}
.width22percent
	{
		width:22%;
	}
.width225
	{
		width:225px;
	}
.width22
	{
		width:22px;
	}
.width508
	{
		width:508px;
	}
.width40percent
	{
		width:40%;
	}
.width6percent
	{
		width:5%;
	}
.width20percent
	{
		width:20%;
	}
.width3percent
	{
		width:3%;
	}
.width25percent
	{
		width:25%;
	}
.width27percent
	{
		width:27%;
	}
.width48percent
	{
		width:48%;
	}
.width10
	{
		width:10px;
	}
.width22
	{
		width:22px;
	}
.width93
	{
		width:93px;
		text-align:right;
	}
.width275
	{
		width:275px;
	}
.height70
	{
		height:70px;
	}
.height82
	{
		height:82px;
	}
.height22
	{
		height:22px;
		vertical-align:top;
	}
.height23
	{
		height:23px;
		vertical-align:top;
	}
.height30
	{
		height:30px;
		vertical-align:middle;
		text-align:center;
	}
.height42
	{
		height:42px;
	}
.height46
	{
		height:46px;
	}
.height15
	{
		height:15px;
	}
.height10
	{
		height:10px;
	}
.main
	{
		width:1004px;
		margin:0 auto;
		padding:0;
	}
.main .content_area
	{
		width:755px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:14px;
		color:#000;
		text-decoration:none;
		font-weight:normal;
		min-height:150px;
		text-align:justify;
		margin:0 auto;
	}
.main .content_area h1
	{
		font-size:20px;
		padding:0;
		margin:0;
	}
.main .content_area p
	{
		font-size:14px;
		padding:0;
		margin:0;
	}
.main .content_area li
	{
		font-size:14px;
		padding:0;
		margin:0;
	}
.main .topnav
	{
		width:755px;
		margin:0 auto;
		padding:0;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		color:#000;
		text-decoration:none;
		font-weight:bold;
		height:36px;
	}
.main .topnav span
	{
		float:left;
		line-height:36px;
		margin-left:3px;
		margin-right:3px;
	}
.main .topnav a
	{
		padding-left:5px;
		padding-right:5px;
		display:block;
		color:#000;
		text-decoration:none;
		float:left;
		height:36px;
		line-height:36px;
	}
.main .topnav a:hover
	{
		background:url(../images/nav_hover.png) bottom center no-repeat;
		color:#c21e15;
	}
.main .topnav a.logout
	{
		background:url(../images/btn_logout.gif) no-repeat;
		float:right;
		width:67px;
		height:24px;
		display:block;
		margin-top:6px;
	}
.main .topnav a.logout:hover
	{
		background:url(../images/btn_logout_hover.gif) no-repeat;
	}
.main .logo_login
	{
		width:332px;
		height:223px;
		margin:0 auto;
	}
.main .logo_login a
	{
		width:332px;
		height:223px;
		display:block;
		background:url(../images/logo.gif) no-repeat;		
	}
.main .loginbox
	{
		background:url(../images/login_bg.jpg) no-repeat;
		width:525px;
		height:323px;
		margin:0 auto;
		padding:0;
		padding-left:2px;
	}
.main .loginbox table
	{
		width:408px;
		text-align:left;
	}
.main .loginbox input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    width:380px;
		    height:20px;
		background:Transparent;
		    font-family:Verdana, Arial, Geneva, sans-serif;
		    font-size:12px;
		    color:#102933;
		    text-decoration:none;
		    font-weight:normal;
	}
.main .loginbox input[type=checkbox]
	{
		width:15px;
		height:15px;
		border:none 0;
	}
.main .loginbox input[type=image]
	{
		width:93px;
		height:29px;
		border:none 0;
	}
.main .loginbox table .forgot
	{
		float:left;
		color:#fff;
		text-decoration:none;
	}
.main .loginbox table .forgot:hover
	{
		text-decoration:underline;
	}
.main .loginbox table .register
	{
		float:right;
		color:#fff;
		text-decoration:none;
	}
.main .loginbox table .register:hover
	{
		text-decoration:underline;
	}




.main .forgotbg
	{
		background:url(../images/forgot_bg.jpg) no-repeat;
		width:525px;
		height:323px;
		margin:0 auto;
		padding:0;
		padding-left:2px;
	}
.main .forgotbg table
	{
		width:408px;
		text-align:left;
	}
.main .forgotbg .textbox
	{
		background:url(../images/forgot_textbox.png) no-repeat;
		width:406px;
		height:33px;
	}
.main .forgotbg input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    width:390px;
		background:Transparent;
		    font-family:Verdana, Arial, Geneva, sans-serif;
		    font-size:12px;
		    color:#102933;
		    text-decoration:none;
		    font-weight:normal;
		    margin-top:8px;
		    margin-left:5px;
	}
.main .forgotbg input[type=image]
	{
		width:144px;
		height:28px;
		border:none 0;
		margin:0;
		padding:0;
		margin-top:10px;
	}
.main .forgotbg table img
	{
		float:left;
		margin-right:5px;
	}
.main .forgotbg table .backtologinpage_link
	{
		float:left;
		color:#fff;
		text-decoration:none;
	}
.main .forgotbg table .backtologinpage_link:hover
	{
		text-decoration:underline;
	}
.main .forgotbg table .register
	{
		float:right;
		color:#fff;
		text-decoration:none;
	}
.main .forgotbg table .register:hover
	{
		text-decoration:underline;
	}	
	
	
	

.main .ActivateAccountbg
	{
		background:url(../images/activateaccount_bg.jpg) no-repeat;
		width:525px;
		height:323px;
		margin:0 auto;
		padding:0;
		padding-left:2px;
	}
.main .ActivateAccountbg table
	{
		width:408px;
		text-align:left;
	}
.main .ActivateAccountbg .textbox
	{
		background:url(../images/forgot_textbox.png) no-repeat;
		width:406px;
		height:33px;
	}
.main .ActivateAccountbg input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    width:390px;
		background:Transparent;
		    font-family:Verdana, Arial, Geneva, sans-serif;
		    font-size:12px;
		    color:#102933;
		    text-decoration:none;
		    font-weight:normal;
		    margin-top:8px;
		    margin-left:5px;
	}
.main .ActivateAccountbg input[type=image]
	{
		width:113px;
		height:29px;
		border:none 0;
		margin:0;
		padding:0;
		margin-top:10px;
	}
.main .ActivateAccountbg table img
	{
		float:left;
		margin-right:5px;
	}
.main .ActivateAccountbg table .backtologinpage_link
	{
		float:left;
		color:#fff;
		text-decoration:none;
	}
.main .ActivateAccountbg table .backtologinpage_link:hover
	{
		text-decoration:underline;
	}
.main .ActivateAccountbg table .register
	{
		float:right;
		color:#fff;
		text-decoration:none;
	}
.main .ActivateAccountbg table .register:hover
	{
		text-decoration:underline;
	}
		
	
.main .graybox_register
	{
		width:751px;
		margin:0 auto;
		padding:0;
	}
.main .graybox_register .top
	{
		background:url(../images/register_bg.jpg) no-repeat;
		width:751px;
		height:47px;
		margin:0;
		padding:0;
	}
.main .graybox_register .centermiddle
	{
		background:#e8e8e8;
		width:711px;
		min-height:100px;
		margin:0;
		padding:20px;
	}
.main .graybox_register .centermiddle .textbox
	{
		background:url(../images/textbox_226.png) no-repeat;
		width:226px;
		height:33px;
		line-height:25px;
		text-align:center;
	}
.main .graybox_register .centermiddle .textbox_small
	{
		background:url(../images/textbox_small.png) no-repeat;
		width:76px;
		height:33px;
		line-height:25px;
		text-align:center;
	}
.main .graybox_register .centermiddle .textbox_small input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background:Transparent ;
    width:65px;
		    margin-top:8px;
		    color:#727272;
		    font-size:11px;
	}
.main .graybox_register .centermiddle .textbox_small select
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background:Transparent ;
    width:60px;
		    margin-top:8px;
		    color:#727272;
		    font-size:11px;
	}
.main .graybox_register .centermiddle .textbox input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background:Transparent ;
    width:215px;
		    margin-top:8px;
		    color:#727272;
		    font-size:11px;
	}
.main .graybox_register .centermiddle .textbox select
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background:Transparent ;
    width:209px;
		    margin-top:8px;
		    color:#727272;
		    font-size:11px;
	}
.main .graybox_register .bottom
	{
		background:url(../images/graybox_bottom.jpg) no-repeat;
		width:751px;
		height:10px;
		margin:0;
		padding:0;
	}
.main .graybox_account
	{
		width:751px;
		margin:0 auto;
		padding:0;
	}
.main .graybox_account .top
	{
		background:url(../images/editaccount_bg.jpg) no-repeat;
		width:751px;
		height:47px;
		margin:0;
		padding:0;
	}
.main .graybox_account .centermiddle
	{
		background:#e8e8e8;
		width:711px;
		min-height:100px;
		margin:0;
		padding:20px;
	}
.main .graybox_account .centermiddle tr.rowstyle
	{
		background:#d6efff;
		height:20px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:11px;
		font-weight:normal;
		color:#454545;
		text-decoration:none;
	}
.main .graybox_account .centermiddle tr.rowstyle td
	{
		padding:2px;
	}
.main .graybox_account .centermiddle tr.alternate_row
	{
		background:#fff;
		height:20px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:11px;
		font-weight:normal;
		color:#454545;
		text-decoration:none;
	}
.main .graybox_account .centermiddle tr.alternate_row td
	{
		padding:2px;
	}
.main .graybox_account .centermiddle .textbox
	{
		background:url(../images/textbox_226.png) no-repeat;
		width:226px;
		height:33px;
		line-height:25px;
		text-align:center;
	}
.main .graybox_account .centermiddle .textbox204
	{
		background:url(../images/textbox_204.png) no-repeat;
		width:198px;
		height:33px;
		line-height:25px;
		text-align:center;
	}
.main .graybox_account .centermiddle .textbox204 input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background:Transparent ;
    width:185px;
		    margin-top:8px;
		    color:#727272;
		    font-size:11px;
	}
.main .graybox_account .centermiddle .textbox204 select
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background: Transparent;
    width:185px;
		    color:#727272;
		    font-size:11px;
		    margin-top:8px;
	}
.main .graybox_account .centermiddle .textbox_small
	{
		background:url(../images/textbox_small.png) no-repeat;
		width:76px;
		height:33px;
		line-height:25px;
		text-align:center;
	}
.main .graybox_account .centermiddle .textbox_small input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background:Transparent ;
    width:65px;
		    margin-top:8px;
		    color:#727272;
		    font-size:11px;
	}
.main .graybox_account .centermiddle .textbox_small select
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background:Transparent ;
    width:60px;
		    margin-top:8px;
		    color:#727272;
		    font-size:11px;
	}
.main .graybox_account .centermiddle .textbox input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background:Transparent ;
    width:215px;
		    margin-top:8px;
		    color:#727272;
		    font-size:11px;
	}
.main .graybox_account .centermiddle .textbox select
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background:Transparent;
    width:209px;
		    margin-top:8px;
		    color:#727272;
		    font-size:11px;
	}
.main .graybox_account .bottom
	{
		background:url(../images/graybox_bottom.jpg) no-repeat;
		width:751px;
		height:10px;
		margin:0;
		padding:0;
	}
.bottom_graybox_left
	{
		float:left;
		margin-top:10px;
	}
.bottom_graybox_left img
	{
		float:left;
		margin-right:5px;
	}
.bottom_graybox_left a
	{
		font-family:Verdana, Arial, Geneva, sans-serif;
		font-size:13px;
		color:#4297ff;
		text-decoration:underline;
		font-weight:bold;
		float:right;
	}
.bottom_graybox_left a:hover
	{
		text-decoration:none;
	}
.bottom_graybox_right
	{
		float:right;
		margin-top:10px;
	}
.backtologinpage
	{
		float:right;
		margin-top:10px;
	}
.backtologinpage img
	{
		float:left;
		margin-right:5px;
	}
.backtologinpage a
	{
		font-family:Verdana, Arial, Geneva, sans-serif;
		font-size:13px;
		color:#4297ff;
		text-decoration:underline;
		font-weight:bold;
		float:right;
	}
.backtologinpage a:hover
	{
		text-decoration:none;
	}
.backtologinpage_new
	{
		float:left;
		margin-top:10px;
	}
.backtologinpage_new img
	{
		float:left;
		margin-right:5px;
	}
.backtologinpage_new span
	{
		float:left;
		margin-left:5px;
		margin-right:5px;
		color:#4297ff;
	}
.backtologinpage_new a
	{
		font-family:Verdana, Arial, Geneva, sans-serif;
		font-size:13px;
		color:#4297ff;
		text-decoration:underline;
		font-weight:bold;
		float:left;
	}
.backtologinpage_new a:hover
	{
		text-decoration:none;
	}
.btn_send
	{
		float:right;
	}

.label_bold
	{
		font-family:Verdana, Arial, Geneva, sans-serif;
		font-size:12px;
		color:#102933;
		text-decoration:none;
		font-weight:bold;
	}
.rounded_box
	{
		width:auto;
		text-align:left;
		font-family:Verdana, Geneva, sans-serif;
		font-weight:bold;
		font-size:12px;
		text-decoration:none;
		color:#000;
	}	
.dropdown
	{
		background:url(../images/forgot_textbox.png) no-repeat;
		width:406px;
		height:33px;
	}
.dropdown select
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background: Transparent;
    width:390px;
		    margin-top:8px;
		    margin-left:3px;
		    color:#727272;
		    font-size:11px;
		    font-family:Verdana, Arial, Geneva, sans-serif;
	}
.textarea
	{
		background:url(../images/textarea.png) no-repeat;
		width:755px;
		height:207px;
	}
.textarea textarea
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background: Transparent;
    width:738px;
		    height:189px;
		    margin-top:8px;
		    margin-left:8px;
		    color:#727272;
		    font-size:11px;
		    font-family:Verdana, Arial, Geneva, sans-serif;
	}
.align_center_top
	{
		vertical-align:top;
		text-align:center;
	}
.align_left_middle
	{
		vertical-align:middle;
		text-align:left;
	}
.align_top
	{
		vertical-align:top;
	}
.align_left
	{
		text-align:left;
    margin-left: 80px;
}
.align_right
	{
		text-align:right;
	}
.align_center
	{
		text-align:center;
	}
.table_border
	{
		width:100%; border:solid 1px #d6efff;
	}
.label_red
	{
		color:#F00;
		font-weight:bold;
	}
.font_size
	{
		font-size:11px;
	}
.textbox_contract
	{
		width:100px;
		height:16px;
		border:solid 1px #ccc;
	}
legend
	{
		font-weight:bold;
		font-size:14px;
	}
.footer_main
	{
		background:url(../images/footer_bg.gif) repeat-x;
		width:100%;
		height:81px;
		font-family:Verdana, Arial, Geneva, sans-serif;
		font-size:14px;
		color:#000;
		text-decoration:none;
		font-weight:normal;
	}
.footer_main .footer
	{
		background:url(../images/footer_bg.gif) repeat-x;
		width:1004px;
		padding-top:18px;
		margin:0 auto;
		text-align:center;
		line-height:25px;
	}
.footer_main .footer span
	{
		font-size:12px;
	}
.footer_main .footer span a
	{
		font-size:12px;
		text-decoration:underline;
		color:#000;
	}
.footer_main .footer span a:hover
	{
		text-decoration:none;
	}
	
	.admin_leftmenu
	{
		float:left;
		width:200px;
		min-height:100px;
		background:#619ae9 url(../images/admin_leftmenu_bg.gif) repeat-x;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		-khtml-border-radius: 20px;
		border-radius: 20px;
		padding:15px;
		text-align:left;
		font-family:Verdana, Geneva, sans-serif;
		font-weight:bold;
		font-size:12px;
		text-decoration:none;
		color:#000;
	}
.admin_leftmenu .category
	{
		font-size:16px;
		text-decoration:none;
		color:#fff;
		text-align:center;
	}
.admin_leftmenu a
	{
		font-family:Verdana, Geneva, sans-serif;
		font-weight:bold;
		font-size:12px;
		text-decoration:none;
		color:#fff;
		display:block;
		line-height:30px;
		background:url(../images/admin_leftnav.png) no-repeat;
		height:30px;
		margin-bottom:5px;
	}
.admin_leftmenu a:hover
	{
		text-decoration:none;
		background:url(../images/admin_leftnav_hover.png) no-repeat;
	}
.admin_leftmenu a img
	{
		margin-left:10px;
		margin-right:5px;
		margin-top:6px;
		float:left;
	}
.admin_content
	{
		float:right;
		width:725px;
		min-height:100px;
		background:#e7e7e7;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		-khtml-border-radius: 20px;
		border-radius: 20px;
		padding:15px;
		text-align:left;
		font-family:Verdana, Geneva, sans-serif;
		font-weight:normal;
		font-size:12px;
		text-decoration:none;
		color:#000;
		line-height:20px;
	}
.admin_content .heading
	{
		font-size:18px;
		text-decoration:none;
		color:#000;
		font-weight:bold;
	}
	
	
	
	
	
.main .centermiddle .textbox_date
	{
		background:url(../images/textbox_204.png) no-repeat;
		width:220px;
		height:33px;
		line-height:25px;
		text-align:left;
	}
.main .centermiddle .textbox_date img
	{
		margin-top:8px;
	}
.main .centermiddle .textbox_date input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background:Transparent ;
    width: 196px;
		    margin-left: 6px;
		    margin-top:9px;
		    color:#727272;
		    font-size:11px;
	}
.main .centermiddle .textbox_email
	{
		background:url(../images/textbox_email.png) no-repeat;
		width:208px;
		height:33px;
		line-height:25px;
		text-align:right;
	}
.main .centermiddle .textbox_email input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background:Transparent ;
    width: 120px;
		    margin-right: 0px;
		    margin-top:9px;
		    color:#727272;
		    font-size:11px;
	}
.main .centermiddle .textbox_password
	{
		background:url(../images/textbox_password.png) no-repeat;
		width:208px;
		height:33px;
		line-height:25px;
		text-align:right;
	}
.main .centermiddle .textbox_password input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background: Transparent;
    width: 120px;
		    margin-right: 0px;
		    margin-top:9px;
		    color:#727272;
		    font-size:11px;		
		
	}
.main .centermiddle .textbox_repassword
	{
		background:url(../images/textbox_repassword.png) no-repeat;
		width:208px;
		height:33px;
		line-height:25px;
		text-align:right;
	}
.main .centermiddle .textbox_repassword input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background:Transparent ;
    width: 107px;
		    margin-right: 5px;
		    margin-top:9px;
		    color:#727272;
		    font-size:11px;		
		
	}
.main .centermiddle .old_password
	{
		background:url(../images/textbox_oldpassword.png) no-repeat;
		width:208px;
		height:33px;
		line-height:25px;
		text-align:right;
	}
.main .centermiddle .old_password input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background:Transparent ;
    width: 120px;
		    margin-right: 0px;
		    margin-top:9px;
		    color:#727272;
		    font-size:11px;		
		
	}
.main .centermiddle .new_password
	{
		background:url(../images/textbox_newpassword.png) no-repeat;
		width:208px;
		height:33px;
		line-height:25px;
		text-align:right;
	}
.main .centermiddle .new_password input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background: Transparent;
    width: 120px;
		    margin-right: 0px;
		    margin-top:9px;
		    color:#727272;
		    font-size:11px;		
		
	}
	
	
.main .centermiddle .facebook
	{
		background:url(../images/facebook.gif) no-repeat;
		width:142px;
		height:28px;
		line-height:25px;
		text-align:right;
	}
.main .centermiddle .facebook input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background:;
    width: 92px;
		    margin-right: 6px;
		    margin-top:7px;
		    margin-left:34px;
		    float:left;
		    color:#180f08;
		    font-size:11px;
		    font-weight:normal;
	}
	.main .centermiddle .facebook span
	{
	    color:White !important;
	    float:left;
	    }

.main .centermiddle .skype
	{
		background:url(../images/skype.gif) no-repeat;
		width:136px;
		height:28px;
		line-height:25px;
		text-align:right;
	}
.main .centermiddle .skype input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background: ;
    width: 82px;
		    margin-right: 6px;
		    margin-top:7px;
		    margin-left:37px;
		    float:left;
		    color:#180f08;
		    font-size:11px;
		    font-weight:normal;
	}
	.main .centermiddle .skype span
	{
 color:White !important;
	    float:left;
	    }
.main .centermiddle .twitter
	{
		background:url(../images/twitter.gif) no-repeat;
		width:142px;
		height:28px;
		line-height:25px;
		text-align:right;
	}
.main .centermiddle .twitter input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background:;
    width: 92px;
		    margin-right: 6px;
		    margin-top:7px;
		    margin-left:34px;
		    float:left;
		    color:#180f08;
		    font-size:11px;
		    font-weight:normal;
	}
	.main .centermiddle .twitter span
	{
	    color:White !important;
	    float:left;
	    }
.main .centermiddle .messenger
	{
		background:url(../images/messenger.gif) no-repeat;
		width:136px;
		height:28px;
		line-height:25px;
		text-align:right;
	}
.main .centermiddle .messenger input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background: ;
    width: 82px;
		    margin-right: 6px;
		    margin-top:7px;
		     margin-left:37px;
		    float:left;
		    color:#180f08;
		    font-size:11px;
		    font-weight:normal;
	}
	.main .centermiddle .messenger span
	{
	     color:White !important;
	    float:left;
	    }
.Error
	{
		font-family:Verdana, Arial, Geneva, sans-serif;
		font-size:12px;
		color:Red;
		text-decoration:none;
		font-weight:bold;
	}
	
	/* For Workshift Start  */
	
	.main .content_area_big
	{
		width:1004px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:14px;
		color:#000;
		text-decoration:none;
		font-weight:normal;
		min-height:150px;
		text-align:justify;
		margin:0 auto;
	}
.main .content_area_big h1
	{
		font-size:20px;
		padding:0;
		margin:0;
	}
.main .content_area_big p
	{
		font-size:14px;
		padding:0;
		margin:0;
	}

.previousweek
	{
		float:left;
		margin-top:10px;
	}
.previousweek img
	{
		float:left;
		margin-right:5px;
	}
.previousweek span
	{
		float:left;
		margin-left:5px;
		margin-right:5px;
		color:#4297ff;
	}
.previousweek a
	{
		font-family:Verdana, Arial, Geneva, sans-serif;
		font-size:13px;
		color:#4297ff;
		text-decoration:underline;
		font-weight:bold;
		float:left;
	}
.previousweek a:hover
	{
		text-decoration:none;
	}
.nextweek
	{
		float:right;
		margin-top:10px;
	}
.nextweek img
	{
		float:right;
		margin-left:5px;
	}
.nextweek span
	{
		float:left;
		margin-left:5px;
		margin-right:5px;
		color:#4297ff;
	}
.nextweek a
	{
		font-family:Verdana, Arial, Geneva, sans-serif;
		font-size:13px;
		color:#4297ff;
		text-decoration:underline;
		font-weight:bold;
		float:left;
	}
.nextweek a:hover
	{
		text-decoration:none;
	}

.graybox_big
	{
		width:100%;
		min-height:100px;
		background:#e7e7e7;
		text-align:left;
		font-family:Verdana, Geneva, sans-serif;
		font-weight:normal;
		font-size:12px;
		text-decoration:none;
		color:#000;
		line-height:20px;
	}
.graybox_big .heading
	{
		font-size:18px;
		text-decoration:none;
		color:#000;
		font-weight:bold;
	}
.workshifts_textbox
	{
		background:url(../images/textbox_226.png) no-repeat;
		width:260px;
		height:33px;
		line-height:25px;
		text-align:center;
		margin:0 auto;
	}
.workshifts_textbox input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background: Transparent;
    width:212px;
		    margin-top:6px;
		    color:#727272;
		    font-size:11px;
	}
.workshifts_textbox img
	{
		margin-top:6px;
	}
.bold_label
	{
		font-weight:bold;
		font-size:14px;
	}
.rounded_box_big
	{
		width:auto;
		min-height:20px;
		background:#fff right;
		text-align:left;
		font-family:Verdana, Geneva, sans-serif;
		font-weight:bold;
		font-size:12px;
		text-decoration:none;
		color:#000;
	}
.rounded_box_big tr.headerstyle
	{
		background:#B9E3FF;
		height:20px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:11px;
		font-weight:bold;
		color:#454545;
		text-decoration:none;
	}
.rounded_box_big tr.headerstyle td
	{
		padding:2px;
	}
.rounded_box_big tr.rowstyle
	{
		background:#d6efff;
		height:20px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:10px;
		font-weight:normal;
		color:#454545;
		text-decoration:none;
	}
.rounded_box_big tr.rowstyle td
	{
		padding:2px;
	}
.rounded_box_big tr.alternate_row
	{
		background:#fff;
		height:20px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:10px;
		font-weight:normal;
		color:#454545;
		text-decoration:none;
	}
.rounded_box_big tr.alternate_row td
	{
		padding:2px;
	}
.legend_table
	{
		background:#e7e7e7;
		text-align:center;
		height:20px;
		font-weight:bold;
	}
	
	/* Worshift End  */


.graybox_topleftcorner
	{
		background:url(../images/graybox_top_leftcorner.png) no-repeat;
		width:10px;
		height:10px;
	}
.graybox_top_bg
	{
		background:url(../images/graybox_top_bg.png) repeat-x;
		height:10px;
	}
.graybox_toprightcorner
	{
		background:url(../images/graybox_top_rightcorner.png) no-repeat;
		width:10px;
		height:10px;
	}	
.graybox_centerleftbg
	{
		background:url(../images/graybox_left_bg.png) repeat-y;
		width:10px;
		min-height:40px;
	}
.graybox_centermiddlebg
	{
		background:#e8e8e8;
		min-height:40px;
		padding:15px;
	}
.graybox_centerrightbg
	{
		background:url(../images/graybox_right_bg.png) repeat-y;
		width:10px;
		min-height:40px;
	}
.graybox_top_bg
	{
		background:url(../images/graybox_top_bg.png) repeat-x;
		height:10px;
	}
.graybox_toprightcorner
	{
		background:url(../images/graybox_top_rightcorner.png) no-repeat;
		width:10px;
		height:10px;
	}
.graybox_bottomleftcorner
	{
		background:url(../images/graybox_bottom_leftcorner.png) no-repeat;
		width:10px;
		height:10px;
	}
.graybox_bottom_bg
	{
		background:url(../images/graybox_bottom_bg.png) repeat-x;
		height:10px;
	}
.graybox_bottomrightcorner
	{
		background:url(../images/graybox_bottom_rightcorner.png) no-repeat;
		width:10px;
		height:10px;
	}
	
	
	
	
	
.whitebox_topleftcorner
	{
		background:url(../images/whitebox_top_leftcorner.png) no-repeat;
		width:10px;
		height:10px;
	}
.whitebox_top_bg
	{
		background:url(../images/whitebox_top_bg.png) repeat-x;
		height:10px;
	}
.whitebox_toprightcorner
	{
		background:url(../images/whitebox_top_rightcorner.png) no-repeat;
		width:10px;
		height:10px;
	}	
.whitebox_centerleftbg
	{
		background:url(../images/whitebox_left_bg.png) repeat-y;
		width:10px;
		min-height:40px;
	}
.whitebox_centermiddlebg
	{
		background:#fff;
		min-height:40px;
		padding:10px;
	}
.whitebox_centerrightbg
	{
		background:url(../images/whitebox_right_bg.png) repeat-y;
		width:10px;
		min-height:40px;
	}
.whitebox_top_bg
	{
		background:url(../images/whitebox_top_bg.png) repeat-x;
		height:10px;
	}
.whitebox_toprightcorner
	{
		background:url(../images/whitebox_top_rightcorner.png) no-repeat;
		width:10px;
		height:10px;
	}
.whitebox_bottomleftcorner
	{
		background:url(../images/whitebox_bottom_leftcorner.png) no-repeat;
		width:10px;
		height:10px;
	}
.whitebox_bottom_bg
	{
		background:url(../images/whitebox_bottom_bg.png) repeat-x;
		height:10px;
	}
.whitebox_bottomrightcorner
	{
		background:url(../images/whitebox_bottom_rightcorner.png) no-repeat;
		width:10px;
		height:10px;
	}
	.main .graybox_account .centermiddle .textboxmulti
	{
		background:url(../images/textbox_204.png) repeat-y repeat-x;
		width:300px;
		height:33px;
		line-height:25px;
		text-align:center;
	}
.main .graybox_account .centermiddle .textboxmulti input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background:Transparent ;
    width:185px;
		    margin-top:8px;
		    color:#727272;
		    font-size:11px;
	}
.main .graybox_account .centermiddle .textboxmulti select
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background: Transparent;
    width:185px;
		    color:#727272;
		    font-size:11px;
		    margin-top:8px;
	}
.graybox_centermiddlebg .textbox_small
	{
		background:url(../images/textbox_204.png) no-repeat;
		width:200px;
		height:33px;
		line-height:25px;
		text-align:left;
		float:right;
		
	}
.graybox_centermiddlebg .textbox_small span
	{
		border-style: none;
	border-color: inherit;
	border-width: 0;
	background: Transparent;
	margin-left:5px;
			margin-top:9px;
			width:215px;
	}
.graybox_centermiddlebg .textbox204
	{
		background:url(../images/textbox_204.png) no-repeat;
		width:198px;
		height:33px;
		line-height:25px;
		text-align:center;
	}
.graybox_centermiddlebg .textbox204 input
	{
		border-style: none;
	border-color: inherit;
	border-width: 0;
	background: Transparent;
	margin-left:5px;
			margin-top:7px;
			width:190px;
	}
.graybox_centermiddlebg .heading
	{
		font-size:18px;
		text-decoration:none;
		color:#000;
		font-weight:bold;
	}
	.graybox_centermiddlebg .textbox_small_2
	{
		background:url(../images/textbox_small.png) no-repeat;
		width:76px;
		height:33px;
		line-height:25px;
		text-align:left;
		float:right;
	}
	.graybox_centermiddlebg .textbox_small_2 input
	{
		
		width:50px;
		height:19px;
		line-height:25px;
		text-align:left;
		border-style: none;
		border-color: inherit;
		border-width: 0;
		margin-left:8px;
		margin-top:7px;
	}
	.graybox_centermiddlebg .textbox_small_2 span
	{
		
		width:50px;
		height:19px;
		line-height:25px;
		text-align:left;
		border-style: none;
		border-color: inherit;
		border-width: 0;
		margin-left:8px;
		margin-top:7px;
		font-weight:normal;
	}
	.legend_table_payment
	{
		background:#e7e7e7;
		text-align:center;
		height:20px;
		font-weight:normal;
		
	}
	.modalBackground
{
    background: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    opacity: .5;
    -moz-opacity: .5;
    
}

	.textbox204_message
	{
		background:url(../images/textbox_430_name.png) no-repeat;
		width:430px;
		height:33px;
		line-height:25px;
		text-align:center;
	}
.main .graybox_account .centermiddle .textbox204_message input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background: Transparent;
    width:185px;
		    margin-top:8px;
		    color:#727272;
		    font-size:11px;
	}
	
	.textbox450_message
	{
		background:url(../images/textbox_450.png) no-repeat;
		width:450px;
		height:33px;
		line-height:25px;
		text-align:center;
	}
.main .graybox_account .centermiddle .textbox450_message input
	{
		border-style: none;
    border-color: inherit;
    border-width: 0;
    background: Transparent;
    width:185px;
		    margin-top:8px;
		    color:#727272;
		    font-size:11px;
	}
	.textboxmulti
	{
		background:url(../images/textbox_430.png) repeat;
		width:430px;
		height:110px;
		text-align:left;
        
	}
.textboxmulti textarea
	{
		border-style: none;
	border-color: inherit;
	border-width: 0;
	background:Transparent;
	
	
	margin:8px;
	color:#727272;
	font-size:12px;
	min-height:95px;
	max-height:95px;
	
	max-width:416px;
	min-width:416px;
	
	}
	
	
	.box_left_bg
{
	background:url(../images/box_left_bg.png) repeat-y;
	width:6px;
	
}
.box_right_bg
{
	background:url(../images/box_right_bg.png) repeat-y;
	width:6px;
	
}
.box_top_bg
{
	background:url(../images/box_top_bg.png) repeat-x;
	height:6px;
}
.box_bottom_bg
{
	background:url(../images/box_bottom_bg.png) repeat-x;
	height:6px;
	
}
.pop_shape
{
	
	margin-left:15px; margin-bottom:-1px;
	
}
.pop_shape_right
{
	
	margin-right:15px; margin-bottom:-1px;
	float:right;
	
}
.span
{
color:Black; float:right !important;
}
.span:hover
{
font-size:15px;color:Green;
}    
    
    #dlLegends table tr td
    {
        background:#e7e7e7;
		text-align:center;
		height:20px;
		font-weight:bold;
        }
        .rounded_box_big tr.alternate_row_userprint
	{
		background:#fff;
		height:20px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:10px;
		font-weight:normal;
		color:#454545;
		text-decoration:none;
	}
.rounded_box_big tr.alternate_row_userprint td
	{
		padding:2px;
		border:1px solid #808080;
	}
	#ctl00_ContentPlaceHolder1_dlLegends tr td
	{
	    
	    border: solid 2px #fff;
		text-align:center;
		vertical-align:middle;
		
	    }
	    #ctl00_ContentPlaceHolder1_dlLegends div
	    {
	        padding:5px;
	        background: none repeat scroll 0 0 #E7E7E7;
	        height:35px;
	        }

.email_header
{
    font-weight:bold;
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
    height:25px;
    background-color:Red;
    vertical-align:middle;
    padding-left:15px;
    }
    .email_body
    {
        background-color:White;
        font-family:Verdana, Geneva, sans-serif;
        height:200px;
        }